.section1 {
    display: flex;
    background-color: green;
    height: 600px;
}

.section1 div h2{
    display: flex;
    justify-content: center;
    width: 0px 20px;
}

.section2 div figure img{
    width: 100%;
}

.section3 .square{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 200px;
    height: 200px;
}

.section3 .rectangle{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    width: 400px;
    height: 200px;
}

.section nav ul div li{
    display: flex;
    margin: 0px 20px;
    list-style: none;
    color: white;
}